nav {
    display: flex;
}

nav a {
    list-style: none;
}

img {
    width: 100%;
    height: auto;
    vertical-align: top;
}

.caja {
    width: 50%;
    height: 400px;
    border: 1px solid black;;
}

.personas {
    display: flex;
    flex: wrap;
}